httpx>=0.25.0,<0.28.0
openai>=1.7,<2
langchain_openai>=0.1.5
langchain>=0.1.14
weaviate-client>=4.4.0
fastapi
uvicorn
langserve
tiktoken
sse-starlette
python-dotenv
langchain-weaviate==0.0.4
langchain-community==0.0.34

